

<div class="header">

<div class="container">
<div class="navbar">
<div class="logo">
<img src="../../assets/ostore.jpeg" width="125"/>
</div>
<nav>
<ul>
<li><a routerLink="/home">Home</a></li>
<li><a routerLink="/login">Login</a></li>
<li><a routerLink="/about-us">About Us</a></li>
<li><a routerLink="/contact">Contact</a></li>
</ul>


<!--<div class="login-container">
    
      <button type="submit" routerLink="/login">Login</button>
    
  </div>-->

</nav>
</div>
<div class="row">
<div class="col-2">
<h2>A New Style!!</h2>
<a href="" class="btn">Explore Now</a>
</div>
<div class="col-2">
<img src="..//../assets/bg.png"/><div>
</div>
</div>

<!--------- Featured categories ------->
<div class="categories">
<div class="row">
<div class="col-3">
    <img src="../../assets/cloth.jpeg"/>
</div>
<div class="col-3">
<img src="../../assets/cloth1.jpeg"/>
</div>
<div class="col-3">
<img src="../../assets/cloth3.jpeg"/>
</div>
<div class="col-3">
<img src="../../assets/clothh4.jpeg"/>
</div>

</div>
</div>

<!--------- Featured Products------->
 <div class="small-container">
 <h2 class="title">Featured Products</h2>
 <div class="row">
 <div class="col-4">
   <img src="../../assets/Top1.jpeg"/>
   <h4>Red Printed Top</h4> 
   <p>490 RS</p>
 </div>
 
 <div class="col-4">
   <img src="../../assets/top2.jpeg"/>
   <h4>Blue plain Shirt</h4> 
   <p>699 RS</p>
 </div>
 
 <div class="col-4">
   <img src="../../assets/top3.jpeg"/>
   <h4>Casual green Top</h4> 
   <p>299 RS</p>
 </div>
 
 <div class="col-4">
   <img src="../../assets/top4.jpeg"/>
   <h4>Dark blue Jeans</h4> 
   <p>800 RS</p>
 </div>
 </div>
 
     <h2 class="title">Latest Products</h2>

<div class="row">
 <div class="col-4">
   <img src="../../assets/top5.jpeg"/>
   <h4>Half Panel Red BlacK</h4> 
   <p>250 RS</p>
 </div>
 
 <div class="col-4">
   <img src="../../assets/top6.jpeg"/>
   <h4>Latest ladies top</h4> 
   <p>399 RS</p>
 </div>
 
 <div class="col-4">
   <img src="../../assets/top7.jpeg">
   <h4>green plazzo</h4> 
   <p>499 RS</p>
 </div>
 
 <div class="col-4">
   <img src="../../assets/top8.jpeg">
   <h4>Men warm Leather jacket</h4> 
   <p>800 RS</p>
 </div>
 </div>
 
	 
	 <!--------- footer ------->
      <div class="footer">
	  <div class="container">
	  <div class="row">
	  <div class="footer-col-1">
	  <h3> Download our App</h3>
	  <p> download for ios and Android phone</p>
	  </div>
	  
	  <div class="footer-col-2">
	  <img src="../../assets/footer.png"/>
	  <p>Our purpose is to make sustanably make the pleasure and Benefit of sport accessible to the many!</p>
	  </div>
	  
	   <div class="footer-col-3">
	  <h3>Links</h3>
	  <ul> 
	  <li>Blog Post</li>
	  <li>Coupons</li>
	  <li>Return policy </li>
	  <li>Coupons</li>
	  </ul>
	  </div>
	
	 
	 <div class="footer-col-4">
	  <h3> Follow uS</h3>
	  <ul> 
	  <li>Facebook</li>
	  <li>Twitter</li>
	  <li>Instagram </li>
	  <li>Yu oube </li>
	  </ul>
	  </div>
	 </div>
	 <hr>
	 <p class="copyright">Copyright 2020 easy website</p>
	</div>
</div>
	 
	 
	 
	 
	 
	 
 


